<div class="row">
  <div class="small-7 large-centered columns">
    <h2>About A &amp; M Creamery</h2>
    <br/>
    <p>The A &amp; M Creamery is a project created by Information Systems students. Individually, we are creating an application for the ice cream franchise with the hopes of seeing it come to life one day.
    </p>
    <br/>
    <p>Note:</p>
    <p>The very first page is supposed to function as a splash page and supposed to help the user focus on their identity: am I a guest or an employee who can login? Like most splash pages, it cannot be accessed from any other point except in the very beginning when the user accesses the app. </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>