<div class="row">
	<h1>Contact AMC</h1>

<p> If you are interested in opening a store with us today, contact us here:</p>

<div class="row">
<div class="small-6 columns">
<b>Name:&nbsp;&nbsp;</b>Helen Kim<br /><br />

<b>Email:&nbsp;&nbsp;</b> <%= mail_to("hyejunk@andrew.cmu.edu", "Email for business inquiries", encode: "javascript") %> <br/><br/>
</div>
</div>
</div>