<div class="row">
  <div class="small-7 large-centered columns">
    <%= image_tag 'logo.gif', class: "center" %>
  </div>
  <br/>
  <div class="row">
    <div class="small-10 large-centered columns text-center">
      <%= link_to 'Guest', home_path, class: 'button radius' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Login', login_path, class: 'button radius'%>
    </div>
  <br/>
</div>